[submodule "AWS_Project/aws-cloudformation-user-guide"]
	path = AWS_Project/aws-cloudformation-user-guide
	url = https://github.com/smit4446/aws-cloudformation-user-guide.git
[submodule "AWS_Project/aws-doc-sdk-examples"]
	path = AWS_Project/aws-doc-sdk-examples
	url = https://github.com/smit4446/aws-doc-sdk-examples.git
